.infoBasica {
  display: flex;

  .infoItem {
    width: 25%;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    margin: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;

    .infoTitulo {
      margin-bottom: 0.5em;
      font-size: 1.2em;
    }
  }
}
