.cardSell {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  transition: all 0.5s;
  color: black;

  h3,
  h2 {
    text-align: center;
  }

  p {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 8px;
      font-size: 1.5em;
    }
  }

  div {
    font-size: 0.9em;
  }

  img {
    width: 100%;
  }

  &:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .informationFeatures {
    padding: 0 1em;
  }

  .moreInfo {
    display: flex;
    color: white;
    font-size: 0.7em;
    font-weight: bolder;
    width: 75%;
    margin: 1em auto;

    & > * {
      margin: auto;
    }
  }
}
