

.nav {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    text-decoration: none;
    list-style: none;
}