.containerFilters {
    display: flex;
    flex-direction: column;
    width: 25%;

    .filters > * {
      padding: 0.5em 0;
      margin: 0.5em 0;
      font-size: 1.2em;
    }

    .filterActions {
      display: flex;
      justify-content: space-between;
      padding: 0 1em;
      font-weight: bolder;
    }
}