aside {
  width: 25%;
  margin: 20px 20px 30px 40px;

  div,
  article {
    border: 1px solid #e0e0e0;
    padding: 0.5em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  .precio {
    & p:nth-child(2) {
      font-size: 2em;
      font-weight: bolder;
    }
  }

  .detallesTecnicos {
    .detalleItem {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

button {
  display: flex;
  margin: 1em auto;
  color: white;
}
